.calender-card {
    width: 300px;
    margin: 8px auto;
}

.textinput-container {
    margin-top: 8px;
}

.day-picker-container {
    display: flex;
}

.textinput {

}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px;
}