<div class="dashboardContainer">
    <div class="dashboardGridContainer">
        <div class="dashbox">
            <div class="box-headingContainer">
                <span class="box-heading">Device Status</span>
            </div>
        </div>
        <div class="dashbox">
            <div class="box-headingContainer">
                <span class="box-heading">Scheduling</span>
            </div>
            <div class="scheduling-content">
                <span class="schedule-heading">Current Active Schedules</span>
                <button type="button" class="btn btn-success ar-schedule-btn">Add a Schedule +</button>
                <button type="button" class="btn btn-success ar-schedule-btn">Remove a Schedule -</button>
            </div>
        </div>
        <div class="dashbox">
            <div class="box-headingContainer">
                <span class="box-heading">Manual Water</span>
            </div>
            <div class="single-button-container">
                <button type="button" class="btn btn-success water-btn">Click Me To Water Plant</button>
            </div>
        </div>
        <div class="dashbox">
            <div class="box-headingContainer">
                <span class="box-heading">Account Information</span>
            </div>
        </div>
    </div>
</div>