<div class="dashboardContainer">
    <div class="dashboardGridContainer">
        <div class="dashbox">
            <div class="box-headingContainer">
                <span class="box-heading">Device Status</span>
            </div>
            <app-device-status-component></app-device-status-component>
        </div>
        <div class="dashbox">
            <div class="box-headingContainer">
                <span class="box-heading">Scheduling</span>
            </div>
            <div class="scheduling-content">
                <span class="schedule-heading">Current Active Schedules</span>
            </div>
            <app-scheduling-content></app-scheduling-content>
        </div>
        <div class="dashbox">
            <div class="box-headingContainer">
                <span class="box-heading">Manual Water</span>
            </div>
            <div class="single-button-container">
                <button type="button" class="btn btn-success water-btn" (click)="waterThePlant()">Click Me To Water Plant</button>
            </div>
        </div>
        <div class="dashbox">
            <div class="box-headingContainer">
                <span class="box-heading">Account Information</span>
            </div>
            <app-account-info></app-account-info>
        </div>
    </div>
</div>