<div class="container">
    <div class="circleContainer">
        <span class="circle" [ngClass]="{'green': this.state.status == 'idle'}"></span>
        <div>Active State</div>
    </div>
    <div class="circleContainer">
        <span class="circle" [ngClass]="{'blue': this.state.status == 'watering'}"></span>
        <div>Watering State</div>
    </div>
    <div class="circleContainer">
        <span class="circle" [ngClass]="{'red': this.state.status == 'down'}"></span>
        <div>Offline State</div>
    </div>
</div>