<div class="info-content">
    <div class="info-piece-container">
        <div class="info-piece">
            <span>Username</span>
            <span>PlaceHolder</span>
        </div>
        <div class="info-piece">
            <span>First Name</span>
            <span></span>
        </div>
        <div class="info-piece">
            <span>Last Name</span>
            <span></span>
        </div>
        <div class="info-piece">
            <span>Address</span>
            <span></span>
        </div>
    </div>
    <button type="button" class="btn btn-success account-update-button" (click)="openDialog()">Update Account
        Information</button>
</div>