.box-conatainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px;
}

.textinput {
    width: 50%;
}

.label {}