<div class="footerContainer">
    <div class="footerTop">
        <div class="nameIconCombo">
            <span>Ali Umar</span>
            <img src="\assets\github_icon.svg" width="32" height="32" alt="">
        </div>
        <div class="nameIconCombo">
            <span>Daniel Guo</span>
            <img src="\assets\github_icon.svg" width="32" height="32" alt="">
        </div>
        <div>TPJ655</div>
    </div>
    <div class="footerBottom">
        <hr />
        <div>SENECA COLLEGE OF APPLIED ARTS AND TECHNOLOGY</div>
        <div>
            School of Electronics and Mechanical Engineering Technology
        </div>
        <div>
            1750 Finch Ave East, Toronto, Ontario, M2J 2X5.
        </div>
        <div>
            Tel. 416-491-5050 Fax 416-490-9839
        </div>
        <div>
            www.senecacollege.ca
        </div>
    </div>
</div>