<app-navbar></app-navbar>
<div class="center-screen">
    <div class="form-field">
      <label class="input-group-text" id="inputGroup-sizing-lg" for="userbox"
        >Username</label
      >
      <input type="text" class="form-control" name="userbox" (keyup)="updateUser($event)"/>
    </div>

    <div class="form-field">
      <label class="input-group-text" id="inputGroup-sizing-lg" for="passbox"
        >Password</label
      >
      <input type="password" class="form-control" name="passbox" (keyup)="updatePass($event)"/>
    </div>
    <input type="submit" class="login-button btn btn-primary" value="Login" (click)="handleLogin($event)"/>
</div>
